body {
    margin: 0;
    padding: 0;
    background-image: url("baksida.jpg");
    background-size: cover;
    }
    
    
    
    
    /****GLOBAL****/
    
    
    
    /******HEADER WORKS*****/
    
    header {
    width: 100%;
    height: 100px;
    background-color: black;
    
    
    }
    
    
    .hmeanu{
        color:white;
        text-align: center;
    
        
    }
    
    
    .cartBalls {
        text-align: right;
    
    
    }
    
    
    
    /****HEADER ENDS****/
    
    /**** PRODUCT BOX ****/
    .productBox {
        width: 400px;
        height: 300px;
        background-color:blue;
    
    
    }
    
    